body {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
    background: url(../images/pattern-background-desktop.svg) no-repeat;
}

.main-container {
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
}

.content {
    background: hsl(225, 100%, 94%);
    width: 24em;
    height: 33.5em;
    text-align: center;
    border-radius: 1.1em;
}

/* ----------
     IMAGE
   ----------*/

.card-image img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

/* ---------------
     CONTENT INFO
   ---------------*/

.content .info {
    display: block;
    width: 19em;
    margin: 0 auto;
}

.info .card-text h1, p {
    margin: 0;
    color: hsl(224, 23%, 55%);
}

.info .card-text h1 {
    font-size: 1.8em;
    margin: .75em 0;
    color: hsl(223, 47%, 23%);
}

.info .card-plan {
    text-align: left;
    position: relative;
    margin: 1em 0;
}

.info .card-plan .icon-music{
    display: inline-block;
    position: relative;
    top: .438em;
}

.info .card-plan p {
    display: inline-block;
    margin: 0;
    padding: 0 1em 1em;
}

.info .card-plan p b {
    color: hsl(223, 47%, 23%);
}

.info .card-plan p span {
    display: block;
    padding-top: .3em;
}

.info .card-plan .change-plan {
    position: absolute;
    right: 0;
    top: 1.25em;
    color: hsl(245, 75%, 52%);
}

.info .card-plan .plan-type {
    text-decoration: none;
    font-weight: bold;
    color: hsl(223, 47%, 23%);
}

.info .card-plan .change-plan:hover {
    opacity: .8;
}

.info .card-buttons .proceed {
    background: hsl(245, 75%, 52%);
    color: #fff;
    display: block;
    text-decoration: none;
    padding: 0.625em;
    margin-bottom: 1.25em;
    border-radius: 0.7em;
}

.info .card-buttons .cancel {
    color: hsl(223, 47%, 23%);
    text-decoration: none;

}

.info .card-buttons .proceed:hover, .cancel:hover {
    opacity: .88;
}

@media (max-width: 375px){

    body {
        background: url(../images/pattern-background-mobile.svg);
    }
    .content {
        width: 19em;
        height: 31em;
    }
}